
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav tree">
            <!-- START user info-->
            @if (User.Identity.IsAuthenticated)
            {
                <li class="has-user-block">
                    <div id="user-block" class="collapse">
                        <div class="item user-block">
                            <!-- User picture-->
                            <div class="user-block-picture">
                                <div class="user-block-status">
                                    <img src="~/Content/Images/user/user.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                                    <div class="circle bg-success circle-lg"></div>
                                </div>
                            </div>
                            <!-- Name and Job-->
                            <div class="user-block-info">
                                <span class="user-block-name">@User.Identity.Name</span>

                                <button onclick="security_Index.logOff();" class="btn btn-xs btn-danger">Cerrar Sesión</button>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-heading">
                    <span>Menú de navegación</span>
                </li>

                <li class="@Html.isActive(controller: "Comercio")">
                    <a href="#elements" title="Operaciones" data-toggle="collapse">
                        <em class="icon-credit-card"></em>
                        <span data-localize="sidebar.nav.element.ELEMENTS">Operaciones</span>
                    </a>
                    <ul id="elements" class="sidebar-nav sidebar-subnav collapse">
                        <li class="sidebar-subnav-header">Elements</li>
                        <li class="@Html.isActive("Compras", "CrearOrden")">
                            <a href="@Url.Action("CrearOrden", "Compras")" title="Nueva orden">
                                <span data-localize="sidebar.nav.element.BUTTON">Nueva orden</span>
                            </a>
                        </li>
                        <li class="@Html.isActive("Compras", "ResumenOrden") ">
                            <a href="@Url.Action("ResumenOrden", "Compras")" title="Resumen de la orden">
                                <span data-localize="sidebar.nav.element.NOTIFICATION">Resumen de la orden</span>
                            </a>
                        </li>
                        <li class="@Html.isActive("Compras", "EstadoOrden") ">
                            <a href="@Url.Action("EstadoOrden", "Compras")" title="Estado de la orden">
                                <span>Estado de la orden</span>
                            </a>
                        </li>

                        <li class="@Html.isActive("Compras", "ListadoOrdenes")">
                            <a href="@Url.Action("ListadoOrdenes", "Compras")" title="Listado de las ordenes">
                                <span data-localize="sidebar.nav.element.SPINNER">Listado de las ordenes</span>
                            </a>
                        </li>

                    </ul>
                </li>
            }

        </ul>

    </nav>
</div>